# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Logs
logs/
*.log

# IDEs
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Coverage / Tests
coverage/
jest.setup.js

# PM2
ecosystem.config.js

# Ignorar todo dentro de uploads, pero mantener la carpeta
/uploads/*
!/uploads/.gitkeep
